---
import Layout from "../../components/layout.astro";
import { getCollection } from "astro:content";

const news = await getCollection("news");
news.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Layout title="News">
  <h1>News</h1>
  <ul>
    {news.map((item) => (
      <li>
        <a href={`/news/${item.slug}`}>{item.data.title}</a>
        <small> ({item.data.date})</small>
      </li>
    ))}
  </ul>

  <!-- Client-only script to set localStorage -->
  <script is:inline>
    if (typeof window !== 'undefined') {
      localStorage.setItem('hasSeenNews', 'true');
    }
  </script>
</Layout>
