---
import { SITE_LOGO, SITE_TITLE } from "../config";
---

<header id="site-header">
  <nav class="header-nav" aria-label="Primary">
    <a href="/" class="logo" aria-label={`${SITE_TITLE} home`}>
      <img src={SITE_LOGO} alt="" width="24" height="24" />
      <span>{SITE_TITLE}</span>
    </a>
  </nav>
</header>
